html {
  font-size: 11px;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  font: 1rem/1.41rem Lucida Grande, Helvetica, Helvetica Neue, sans-serif;
  color: #333;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
}

#container {
  flex: 1;
  flex-direction: column;
  display: flex;
}

main {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.is-empty {
  align-items: center;
  justify-content: center;
  color: #808080;
}
.label {
  color: #808080;
}
.image-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.pinnables {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  margin: 0.35rem;
  padding: 0.5rem 1rem 0.5rem 0.71rem;
  align-items: center;
  cursor: pointer;
}
.app .app-action {
  height: 4rem;
  width:  4rem;
  background-image: url('../pin-32.png');
  background-size: 2rem;
  opacity: 0.5;
}
.app .app-action.is-installed {
  background-image: url('../pin-active-32.png');
  opacity: 1;
}
.app:hover {
  background-color: #eaeaea;
  outline: 1px solid #b7b7b7;
  -moz-outline-radius: 0.35rem;
}
.app:hover .app-action {
  opacity: 1;
}
.app .app-icon {
  height: 4rem;
}
.app .app-label {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 0.71rem;
}
.app .app-label .app-name {
  font-size: 1.41rem;
  padding-bottom: 0.71rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app .app-label .app-host {
  color: #808080;
}

.launchpad {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-top: #cdcdcd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #e5e5e5;
}

.installed {
  flex: 1;
  display: flex;
  padding: 1rem;
  overflow: auto;
  align-items: center;
  justify-content: center;
}
.installed .icon-list {
  flex-wrap: wrap;
}
.recent {
  display: flex;
  padding: 0.71;
}
.recent .icon-list img {
  height: 2rem;
}

.icon-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.icon-list li {
  padding: 0.5rem;
  cursor: pointer;
}
.icon-list li:hover {
  background-color: #eaeaea;
  outline: 1px solid #b7b7b7;
  -moz-outline-radius: 0.35rem;
}
.icon-list li img {
  height: 4rem;
}
